{% extends './layout.html' %}

{% block title%}{{data.titulo}}{% endblock %}

{%block body%} 
</header><!-- End Header -->
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
    <h1>Jorge Rivera M</h1>
    <h2>Soy estudiante de Programacion web del Web50x.ni</h2>
    <a href="about.html" class="btn-about">Acerca de mi</a>
  </div>
</section><!-- End Hero -->
{%endblock%}